<nav class="navbar">
  <div class="container">
    <ul class="navbar-left">
   <li><a href='{% url "home" %}'>Home</a></li>
{% if request.user.is_authenticated %}
   <li><a href='{% url "IRDoseApp:create" %}'>Cumulated Activity</a></li>
   <li><a href='{% url "IRDoseApp:IRDoseApp" %}'>IRDose</a></li>
   <li><a href='{% url "logout" %}'>Log Out</a></li>
{% endif %}
   <li><a href='{% url "about" %}'>How it works</a></li>
   <li><a href='{% url "contact" %}'>Contact</a></li>
{% if not request.user.is_authenticated %}
   <li><a href='{% url "login" %}'>Login</a></li>
   <li><a href='{% url "register" %}'>Register</a></li>
{% endif %}  
    </ul>
  </div>
</nav>
<div class='container'>
   <h1>IRDose</h1>
  
</div>
