<h2>Absorbed dose using cumulated activity</h2>
<ul>
   <li>You must enter the patient's Computed Tomography (CT) and at least the source Organ. Note that the source organ 
       will always be the first target organ submited to a self-irradiation.</li>
   <li>You may add up to two target organs that will be subjcet to a cross-fire irradiation.</li>
   <li>The source and target organs must be extract from the patient's CT and they MUST have 
       the same dimensions. We suggest using the software Slicer3D and following our 
       <a href='{% url "slicer3D" %}'>tutorial</a>.</li>
   <li>Before upload the images, please compress them as a zip file. It is important to compress the sequence of images and NOT the folder where they are placed. Otherwise, the program will not be able to find them.
</ul>

<h2>Dose map<small>  Will be available soon</small></h2>
<p>
   It is also possible to produce a dose map based on the patient's SPECT or PET image.<br>
   In this case, the method is not validated and we only perform the simulatons.
   Therefore, the result is the user responsibility.
</p>
<ul>
   <li>Please, check the box "dose map only".</li>
   <li>Note that the images MUST have the same dimensions or the source will not be placed correctly.</li>
</ul>
