{% extends 'base.html' %}
<title>{% block head_title %}IRDoseApp | {{ block.super }}IRDose{% endblock head_title %}</title>

{% block content%}

<h1>{{ object.title}} <small>{{ object.Organ }} <a href='{% url "IRDoseApp:edit" object.slug %}'>Edit</a><br/></small></h1>
<!-- <h2>{{ object.CT_Patient }} <small>{{ object.CT_Organ }} </small></h2> -->
<p>Created: {{ object.timeStamp}} | Updated {{ object.updated|timesince }} ago.</p>
<!-- <img src = '{{object.CT_Patient}}'/> -->

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
       <table class="pure-table pure-table-bordered">
       <thead>
           <tr>
               <th>Time</th>
               <th>Activity</th>
           </tr>
       </thead>

       <tbody>
           <tr class="pure-table-odd">
               <td>{{ object.t_1 }}</td>
               <td>{{ object.A_1 }}</td>
           </tr>

           <tr>
               <td>{{ object.t_2 }}</td>
               <td>{{ object.A_2 }}</td>
           </tr>

           <tr class="pure-table-odd">
               <td>{{ object.t_3 }}</td>
               <td>{{ object.A_3 }}</td>
           </tr>
           <tr>
               <td>{{ object.t_4 }}</td>
               <td>{{ object.A_4 }}</td>
           </tr>
        </tbody>
       </table>
       <p>Cumulated activity = {{ CA }}</p>
       <p>Absorbed {{ doseS }}</p>
       {% if dose_t1%}
          <p>Absorbed {{ dose_t1 }}</p>
       {% endif %}
       {% if dose_t2%}
          <p>Absorbed {{ dose_t2 }}</p>
       {% endif %}
{% endblock content%}
